template(name="priceBook")
  #content.modern
    .dual-content
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm bảng giá...")
          if getSession 'priceBookCreationMode'
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createCustomerBtn

        .nano: .nano-content(style="margin-bottom: 35px;")
          each priceBookLists
            .group-wrapper
              .caption.group {{_id}}
              each childs
                .caption.inner(class="{{activeClass 'currentPriceBook'}}")
                  +avatarImageComponent(avatar=avatarUrl alias=name)
                  span.text
                    |{{name}}
                    if description
                      |({{description}})


      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +priceBookOverviewSections getSession 'currentPriceBook'

            if isPriceBookType 'default'
              +priceBookDetailDefault getSession 'currentPriceBook'
            if isPriceBookType 'customer'
              +priceBookDetailCustomer getSession 'currentPriceBook'
            if isPriceBookType 'provider'
              +priceBookDetailProvider getSession 'currentPriceBook'



  //#footer.modern
  //  .editor-row
  //    .editor-wrapper.dual-spacer
  //    .editor-wrapper.right
  //      span.s5 TỔNG NỢ:
  //      span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
