template(name="customerManagementOverViewPrint")
  .section.panel.panel-default.top.printable-area
    table
      tr: td(colspan="12") CÔNG TY CỔ PHẦN CHÂU Á THÁI BÌNH DƯƠNG
      tr: td(colspan="12") 60 Trần Đại Nghĩa, Ninh Kiều, Cần Thơ

      tr: td.date(colspan="12") BẢNG ĐỐI CHIẾU CÔNG NỢ
      tr: td.date(colspan="12") (từ ngày 01/03/2015 đến ngày 31/08/2015)

      tr
        td(colspan="6") Kính gởi Khách hàng: Hồng Kỳ
        td(colspan="6") Địa chỉ: Ninh Điền, Châu Thành, Tây Ninh

      tr: td(colspan="12") Trước hết, CÔNG TY CỐ PHẦN CHÂU Á THÁI BÌNH DƯƠNG xin được gửi tới Quý khách hàng lời cảm ơn chân thành vì sự ủng hộ nhiệt tình
      tr: td(colspan="12") dành cho Công ty chúng tôi trong thời gian qua.

      tr: td(colspan="12") Từ ngày 01/03/2015 đến ngày 31/08/2015, CÔNG TY CỐ PHẦN CHÂU Á THÁI BÌNH DƯƠNG đã cung cấp cho Quý đại lý các mặt hàng với
      tr: td(colspan="12") chi tiết như sau:

      tr
        td STT
        td PHIẾU
        td NGÀY
        td TÊN HÀNG
        td Q.CÁCH
        td ĐVT
        td SỐ LƯỢNG
        td ĐƠN GIÁ
        td THÀNH TIỀN
        td KM bia
        td GHI CHÚ

      tr
        td 1
        td 1784
        td 4/18/2015
        td XOFIS ASIA 350EC
        td 480ml
        td Chai
        td 2
        td 60
        td 114333
        td 6859980
        td --
        td --




