template(name="notificationOptions")
  p
    span Thông báo hệ thống
    span#test-notification.link Gửi thông báo thử nghiệm
  p.explains
    span Để gửi thông báo hệ thống, Pin cần có sự xác nhận từ trình duyệt web. <br/>
