template(name="providerCreate")
  .dual-detail-wrapper: .dual-detail
    .nano: .nano-content
      .section.top.panel.panel-default.new-options-section
        .panel-heading
          span.icon-contacts tạo nhà cung cấp
          .commands
            .lemon.btn.lime.icon-ok-6.addProvider Lưu
            .lemon.btn.red.icon-cancel-7.cancelProvider Hủy

        .panel-body
          .collapsible-row
            .description Tên nhà cung cấp
            input.input-field.newProviderOption(name="providerName" placeholder="Nhập nhà cung cấp")
          .collapsible-row
            .description Điện thoại
            input.input-field.newProviderOption(name="providerPhone" placeholder="Nhập số điện thoại")
          .collapsible-row
            .description Địa chỉ
            input.input-field.newProviderOption(name="providerAddress" placeholder="Nhập địa chỉ")
          .collapsible-row
            .description Người đại diện
            input.input-field.newProviderOption(name="providerRepresentative" placeholder="Người đại diện")
          .collapsible-row
            .description Nợ đầu kỳ
            input.input-field.newProviderOption(name="providerDebit" placeholder="Nhập nợ đầu kỳ" value="0")
          .collapsible-row
            .description Mã nhà cung cấp
            input.input-field.newProviderOption(name="providerCode" placeholder="{{codeDefault}}")
          .collapsible-row
            .description Ghi chú
            input.input-field.newProviderOption(name="providerDescription" placeholder="Ghi thêm thông tin" value=""
            style="width: 70%;")
