template(name="priceBookRowEdit")
  tr.editors.dual-border
    td.command.icon-ok-6.hide-on-print
    td.first-column {{productName}}
    td(align="center") {{productUnitName}}
    td.number {{barcode}}
    td(align="center") {{momentFormat createdAt "DD/MM/YYYY"}}

    if isPriceBookType 'default'
      td.number: input(name="editImportQuantity" min="0")
      td.number: input(name="editSaleQuantity" min="0")
    if isPriceBookType 'customer'
      td.number {{formatNumber salePrice}}
      td.number: input(name="editSaleQuantity" min="0")
    if isPriceBookType 'provider'
      td.number {{formatNumber importPrice}}
      td.number: input(name="editImportQuantity" min="0")


template(name="priceBookRowDisplay")
  tr.detail-row.click-enable
    td.command.icon-ok-6.hide-on-print
    td.first-column {{productName}}
    td(align="center") {{productUnitName}}
    td.number {{barcode}}
    td.number {{momentFormat createdAt "DD/MM/YYYY"}}

    if isPriceBookType 'default'
      td.number {{formatNumber importPrice}} VNĐ
      td.number {{formatNumber salePrice}} VNĐ
    if isPriceBookType 'customer'
      td.number {{formatNumber salePriceBasic}} VNĐ
      td.number {{formatNumber salePrice}} VNĐ
    if isPriceBookType 'provider'
      td.number {{formatNumber importPriceBasic}} VNĐ
      td.number {{formatNumber importPrice}} VNĐ




