@require '../../wings.import.styl'

.kernel-detail .section
  margin 0 !important
  border none !important
  .region
    margin 0 !important

  .region-row
    &.grid
      margin 0 !important
      table
        width 100%
        border-spacing 0
        border-collapse collapse
        font-size 15px

        tr.detail-row
          cursor pointer
          &:hover {background-color:#c9eaff; border-color:transparent}
          &:not(:nth-child(2))
            border-top dashed 1px #eee
          td:first-child
            border-left solid 3px #f39c12

        tr
          td, th
            &:first-child
              padding-left 10px
            &:last-child
              padding-right 10px
          td, th
            padding-top 5px; padding-bottom 5px
          &:first-child
            border-bottom 1px dashed #b0b0b0
            border-top none
          &.top-dashed
            border-top 1px dashed #b0b0b0

.grid
  .number, .right-align
    text-align right
  .string, .left-align
    text-align left
  .center-align
    text-align center
  .strong
    font-weight 600

  .large-name
    display none

  .detail-row
    .name, .small-name
      position relative
      padding-right 30px
      .commands
        font-size 21px; color #2e8bcc
        absolute top 0 right 0
  .editor-row
    border-top solid 1px #7ac5f9 !important
    border-bottom solid 1px #7ac5f9 !important
    td
      padding-top 4px !important
      padding-bottom 4px !important
      &:first-child {border-left:none !important; padding-left:12px !important}

    .field-wrapper
      padding 0 !important
      border none !important
      input
        background-color transparent
        font-size 15px
        color #2e8bcc; font-weight 600

  .signature
    color #7B7B7B
    font-size 13px; font-style italic
  .description
    font-size 15px; color #909090
    border none; border-bottom 1px dashed orange
    padding 0 5px 2px 5px; width 100%

@media print and (max-width: 300px)
/*@media(max-width: 1024px)*/
  .grid
    .large-name
      display table-row
      border-top-color #C7C7C7 !important
    .small-name, .description, .signatures
      display none