template(name="merchantAccountChangePassword")
  .section.top.panel.panel-default.options-section
    .panel-heading
      span.icon-key-outline Đổi mật khẩu
      .commands
        if showChangePasswordCommand
          .lemon.btn.rounded.lime.icon-ok-6.changeAccountProfilePassword
    .panel-body
      .collapsible-row
        .description Mật khẩu hiện tại
        input.input-field.accountChangePassword(name="oldPassword" type="password" maxlength="40" placeholder="nhập mật khẩu hiện tại")
      .collapsible-row
        .description Mật khẩu mới
        input.input-field.accountChangePassword(name="newPassword" type="password" maxlength="40" placeholder="nhập mật khẩu mới")
      .collapsible-row
        .description Xác nhận mật khẩu
        input.input-field.accountChangePassword(name="confirmPassword" type="password" maxlength="40" placeholder="nhập lại mật khẩu mới")
