template(name="priceBookDetail")
  .dual-detail-wrapper: .dual-detail
    .nano: .nano-content
      if currentPriceBook
        +Template.dynamic(template='priceBookOverviewSection' data=currentPriceBook)
        +Template.dynamic(template=priceBookDetailShow data=currentPriceBook)


