template(name="productManagementNavigationPartial")
  li.blue.teleport.inav.icon-basket.animated.fadeInDown.customerToSales bán hàng
  li.blue.teleport.inav.icon-edit.animated.fadeInDown.customerToSales trả hàng
  li.blue.teleport.inav.icon-edit.animated.fadeInDown.customerToSales nhập nợ
  li.blue.teleport.inav.icon-edit.animated.fadeInDown.customerToSales trả tiền
