@import "../../../styles/lib.import.styl"

.login_v1
  color #676a6c
  &.gray-bg
    background-color #f3f3f4

  .loginColumns
    max-width 800px
    margin 0 auto
    padding 100px 20px 20px 20px

  .ibox-content
    background-color #ffffff
    color inherit
    padding 15px 20px 20px 20px
    border-color #e7eaec
    border-image none
    border-style solid solid none
    border-width 1px 0px

  .form-control
    background-color #FFFFFF
    background-image none
    border 1px solid #e5e6e7
    border-radius 1px
    color inherit
    display block
    padding 6px 12px
    transition border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width 100%
    font-size 14px

    &:focus
      border-color #1ab394 !important

  .btn
    border-radius 3px


  .btn-white
    color inherit
    background white
    border 1px solid #e7eaec
    &:hover
      color inherit
      border 1px solid #d2d2d2

  .btn-primary
    background-color #1ab394
    border-color #1ab394
    color #FFFFFF

  .font-bold
    font-weight 600

  h2
    font-size 24px
    margin-top 20px
    margin-bottom 10px

  small, .small
    font-size 85%

  p
    ont-family "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size 13px


.m-t
  margin-top 15px
.m-b
  margin-bottom 15px

.full-width
  width 100% !important

.block
  display block

.text-muted
  color #888888

.text-center
  text-align center

.btn-block
  display block
  width 100%



