@import "../../styles/wings.import.styl"

ul.wings-tab
  clearfix()
  margin 0; padding 0
  border-top 1px solid #D3D3D3
  display block; white-space nowrap

  li
    position relative
    user-select none; cursor pointer
    background-color #F0F0F0
    max-width 150px
    display inline-block
    padding 8px 30px 6px 12px
    border 1px solid #d3d3d3
    margin -1px -1px 0 0
    text-transform uppercase
    overflow ellipsis
    &.active
      background-color #ffffff !important
      border-top-color #e6e6e6
    &:hover
      background-color #e6e6e6
    &.insert-command
      color #cccccc; font-size 16px
      background-color #ffffff
      border-top-color #e6e6e6
      padding 6px 6px 5px 6px
      margin -1px 2px 0 10px
      &:hover
        color lime
    .remove-command
      font-size 15px
      absolute top 8px right 5px
      color #cccccc
      &:hover
        color pumpkin