//template(name="revenueBasicStaffReport")
//  .section.top.panel.panel-default.printable-area
//    .panel-heading Doanh Số Của Nhân Viên:
//    .panel-body
//      .with-3d-shadow.with-transitions
//        svg#revenueOfCustomerReport.mypiechart(style="display: block; float: left; height: 500px !important; width: 600px !important;")
