template(name="customerOverview")
  with dataLists
    .section.panel.panel-default(style="margin-bottom: 10px;")
      table.lemon-grid
        tr
          th(style="width:40px")
          th(style="width:110px")
          th(style="width:5px")
          th(style="width:120px")
          th(style="width:5px")
          th(style="width:auto")

        tr
          td
          td: b Số khách hàng
          td.number :
          td.number <b>{{formatNumber overview.count}} </b>
          td
          td

        tr
          td
          td: b Tiền nợ
          td.number :
          td.number <b>{{formatNumber overview.debitCash}}</b>
          td
          td VNĐ

        tr
          td
          td: b Tiền lãi
          td.number :
          td.number <b>{{formatNumber overview.interestCash}}</b>
          td
          td VNĐ

        tr
          td
          td: b Thanh toán
          td.number :
          td.number <b>{{formatNumber overview.paidCash}}</b>
          td
          td VNĐ

        tr
          td
          td: b Tổng nợ
          td.number :
          td.number <b>{{formatNumber overview.totalCash}}</b>
          td
          td VNĐ

    .section.panel.panel-default(style="margin-bottom: 0px; border: none;")
      .panel-heading
        table.lemon-grid
          tr
            th(style="width:35px") STT
            th(style="width:70px") Mã
            th(style="width:auto")
              if getSession 'customerOverviewSectionSearchCustomer'
                input(name='searchCustomerFilter' type="text" placeholder="tìm khách hàng...")
              else
                | Khách hàng
                i.icon-search-8.rotateY180.searchCustomer(style="color: #ABD4E3; font-size: 16px; cursor:pointer; padding-left: 10px;")
            th.number(style="width:110px") Tiền nợ
            th.number(style="width:90px") Tiền lãi
            th.number(style="width:110px") Thanh toán
            th.number(style="width:120px") Tổng nợ


    .nano: .nano-content(style="margin-bottom: 230px;")
      .section(style="margin: 0")
        table.lemon-grid
          tr
            th(style="width:45px")
            th(style="width:70px")
            th(style="width:auto")
            th(style="width:110px")
            th(style="width:90px")
            th(style="width:110px")
            th(style="width:130px")

          //each details
          //  tr.detail-row(style=" background-color: #A7FFEE;")
          //    td.number(colspan="4") <b>{{description}}</b>
          //    td.number <b>{{formatNumber totalCash}}</b> VNĐ

          each details
            tr.detail-row
              td(style="padding-left: 10px;") {{count}}
              td {{code}}
              td {{name}}
              td.number {{formatNumber totalDebitCash}}
              td.number {{formatNumber interestCash}}
              td.number {{formatNumber paidCash}}
              td.number: b {{formatNumber totalCash}}
