template(name="news")
  if zeroState
    +newsEmpty
  else
    .header This is order manager {{this}}

template(name="newsEmpty")
  .zero-state
    .header Tin tức mới được tải lên tại đây...
    .sub-header Nơi bạn cập nhật tin tức hằng ngày.
    img.cover-icon(src="/images/svg/stock.svg")