.editable
  border none
  outline none
  transition width 0.3s
  padding 0 5px 0 5px
  &.dashed
    border-bottom dashed 1px #DDDDDD !important
  &.right-align
    text-align right

.edit-field
  font-weight bolder
  color #7AC5F9