.editable
  border none
  outline none
  transition width 0.3s
  padding 0 5px 0 5px
  &.dashed
    border-bottom dashed 1px #DDDDDD !important
  &.right-align
    text-align right

.editable-field
  cursor pointer