.editable
  border none
  outline none
  transition width 0.3s
  padding 0 5px 0 5px
  &.dashed
    border-bottom dashed 1px #DDDDDD !important
  &.right-align
    text-align right

.editable-field
  cursor pointer

.edit-field
  font-weight bolder
  color #7AC5F9
  padding 0
  background-color transparent

input.editable.dashed
  border-bottom dashed 1px #f9aa51 !important