@require '../wings.import.styl'

.wings-editor-wrapper
  /*overflow hidden*/
  /*border 1px solid #d3dbe2*/
  .wings-editor
    border-bottom solid 1px #DDDDDD
    padding 10px 6px

  .commands
    padding-bottom 5px
    .command.button
      float right; margin-right 10px
      border 1px solid #d3dbe2
      border-top none; color #9D9D9D
      background-color #ffffff
      border-radius top 0
    .save:before
      margin-left -2px
      margin-right 5px
      font-size 13px

  &.save-remaining .command.button
    background-color theme-color
    color #ffffff

  &.active, &.save-remaining
    .wings-editor
      border-bottom-color #479CCF

.wings-editor-wrapper .wings-editor-pane
  user-select none; font-size 14px
  float left; margin-left 5px; margin-top 5px
  ul.segment
    font-size 0
    padding 0; margin 0
    li
      display inline; cursor pointer
      font-size 14px; padding 4px 6px
      background-color #ffffff
      border 1px solid #d3dbe2
      border-top-color transparent
      &:first-child
        border-radius bottom left 2px
      &:last-child
        border-radius bottom right 2px
      &:not(:first-child)
        border-left none
      &.active, &:hover
        background-color darken(#fff, 5)