@require '../wings.import.styl'

.wings-editable
  position relative
  padding-top 10px

  input
    border none
    width 100%

  .label
    absolute left 15px top 0
    visibility hidden
    font-size 14px; color #ccc
    user-select none

  &:hover
    &:before, .label
      visibility visible
    &:not(.active)
      &:before, .label
        color lighten(editable-color, 15)

  &.save-remaining:before, &.active:before
    visibility visible

  &:before
    visibility hidden
    font-family 'wings'
    content '\E8FF'
    font-size 16px; color editable-color
    absolute left -5px top 0
  &.save-remaining:before
    color save-remaining-color