@require '../wings.import.styl'

.field-wrapper.select2
  padding 0 !important
  border none !important
  .select2-container
    width 100%
    .select2-arrow
      line-height 32px

.region-row .field-wrapper
  .select2component > a
    height 34px; padding-top 4px
    border 1px solid #d3dbe2; border-radius 0