template(name="customerManagementNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.customerToSales bán hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.customerToReturn trả hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.customerToAddLoan nhập nợ
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.customerToAddPay thu tiền
