template(name="customerManagementNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.customerToSales bán hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.customerToReturn trả hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.customerTo nhập nợ
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.customerTo thu tiền
