template(name="importReturnProductRowEdit")
  tr.editors.dual-border(class="{{errorClass}}")
    td.bill-name.has-commands
      |{{getProductName product}}
      .commands
        .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteReturnDetail: span.icon-minus-4

    td.quality: input.error-field(name="editQuantity" min="0")

    td: span
      |{{getProductUnitName productUnit}}
      unless showConversion
        span.super.s7.color-lime {{conversion}} {{getProductBasicName productUnit}}

    td.number: span
      input.error-field(name="editPrice" min="0")
      span.super.s7(style="width: 60px;text-align: left;") x{{basicQuantity}} {{getProductBasicName productUnit}}
    td.number.note <b>{{formatNumber finalPrice}}</b>

template(name="importReturnProductRowDisplay")
  tr.detail-row.click-enable(class="{{errorClass}}")
    td.bill-name.has-commands
      |{{getProductName product}}
      .commands
        .lemon.rounded.tiny.btn.blue.deleteReturnDetail: span.icon-minus-4

    td.quality.editable-field.error-field: span
      |{{formatNumber quality}}
      if invalid
        span.super.s7.color-lime {{crossAvailable}}

    td: span
      |{{getProductUnitName productUnit}}
      unless showConversion
        span.super.s7.color-lime {{conversion}} {{getProductBasicName productUnit}}

    td.number: span
      |{{formatNumber price}}
      span.super.s7(style="width: 60px;text-align: left;") x{{basicQuantity}} {{getProductBasicName productUnit}}
    td.number.final-price <b>{{formatNumber finalPrice}}</b>