template(name="importReturnOverview")
  .editor-row
    .editor-wrapper.right(style='width: 125px')
      span.ilabel(style='background-color:#f35112; color:#fff;') đến hết ngày
      input(name='endDate', binding='datePicker', todayhighlight='true', maxlength='20', style='border-bottom: none; text-align: center;')
    .editor-wrapper.right(style='width: 125px')
      span.ilabel(style='background-color: #f35112; color: #fff;') xem từ ngày
      input(name='startDate', binding='datePicker', todayhighlight='true', maxlength='20', style='border-bottom: none; text-align: center;')

  with dataLists
    .section.panel.panel-default(style="margin: 0; border: none;")
      .panel-heading
        table.lemon-grid
          tr
            th(style="width:45px") STT
            th(style="width:100px") Ngày lập
            th(style="width:60px") Phiếu
            th(style="width:auto") Nhà cung cấp

            th.number(style="width:170px") Giá trị phiếu


    .nano: .nano-content(style="margin-bottom: 90px;")
      .section(style="margin: 0")
        table.lemon-grid
          tr
            th(style="width:55px")
            th(style="width:100px")
            th(style="width:60px")
            th(style="width:auto")
            th(style="width:180px")

          each groups
            tr.detail-row(style=" background-color: #FFDFDD;")
              td.number(colspan="4") <b>{{description}}</b>
              td.number <b>{{formatNumber totalCash}}</b> VNĐ

            each details
              tr.detail-row
                td(style="padding-left: 10px;") {{count}}
                td {{momentFormat sortDate "DD/MM/YYYY"}}
                td {{code}}
                td {{owner.name}}
                td.number {{formatNumber finalPrice}} VND
