font-face = "Open Sans", sans-serif, Arial

default-font-color = #555459//#797875
theme-color = #479ccf

nav-height = 50px
nav-border-height = 0

editable-color = #999
save-remaining-color = lime

root-addon-size = 220px
root-addon-bg = #31373d //#31373d //#4D394B
root-addon-color = #767e81
root-addon-bg-dark = darken(root-addon-bg, 2)

kernel-addon-size = 400px
kernel-addon-bg = #f7f8f8
kernel-addon-border = 1px solid #EAEAEA