template(name="apiMachineMember")
  .leaf-detail.member
    .leaf-name {{name}}
      span.return-icon.icon-left-circle
      span.return-signature
        if type
          span {{brackets type.name}}
        else
          span {void}
      span.remove-command.icon-cancel-circled
    .leaf-doc
      //.doc-editor.wings-editor(field="description" contenteditable="true" placeholder="Ghi chú...")
      +wingsEditor(model=this collection=currentCollection field="description" placeholder="Ghi chú.." class="doc-editor")