template(name="apiNodeTree")
  .dual-addon
    .filter
      input(name='apiFilter' type="text" placeholder="Tìm Documentation")
    .api-addon-inner
      .nano: .nano-content
        ul.api-docs
          each apiNodes
            +apiNode

template(name="apiNode")
  li.api-node(class="{{nodeActiveClass}}")
    span.link-hover {{name}}
    .remove-node.icon-cancel-circled

  if renderNodeLeaves
    .leaves-detail
      ul
        unless isEmptyCollection machineMembers
          li.api-tree-leaf-title Members
          each machineMembers
            li.api-leaf.member: span.link-hover {{name}}
      ul
        unless isEmptyCollection machineMethods
          li.api-tree-leaf-title Methods
          each machineMethods
            li.api-leaf.method: span.link-hover {{name}}

  if renderNodeChilds
    ul
      each childNodes
        +apiNode nodeDetails