template(name="productGroupSearch")
  .dual-addon
    .group-nav
      .caption.inner.toCustomer
        span.avatar.letter {{getPublishedCount 'products'}}
        span.text.uppercase KHÁCH HÀNG
      .caption.inner.active
        span.avatar.letter {{getPublishedCount 'productGroups'}}
        span.text.uppercase NHÓM KHÁCH HÀNG

    .search-filter.icon-search-8
      input(name='searchFilter' type="text" placeholder="tìm nhóm khách hàng...")
      .icon-user-add-1.create-new-command(data-toggle="tooltip" data-container="body" data-placement="right" title="Tạo mới")

    .nano: .nano-content(style="margin-bottom: 35px;")
      .list
        .caption-item: b DANH SÁCH NHÓM

        each listCustomerGroups
          .doc-item(class="{{activeClass 'currentCustomerGroup'}}")
            .avatar-wrapper: .avatar-image(class="missing"
            style="background-image:url('')") {{aliasLetter firstName}}
            .doc-info
              .title {{name}}
              //.price-stamp {{productCount}} khách hàng

            .price-stamp
              b {{productCount}}
              span(style="font-size: 13px;") khách hàng