template(name="wingsEditable")
  .wings-editable(class="{{saveRemainingClass}} {{activeClass}}")
    input(class="{{style}}" value="{{fieldValue}}" field="{{field}}" placeholder="{{placeholder}}")
    if label
      span.label {{label}}