template(name="revenueBasicAreaReport")
  .section.top.panel.panel-default.printable-area
    .panel-heading
      span Doanh Số Của Khu Vực:


      //.btn-group.pull-right(data-toggle='buttons')
      //  label.btn.btn-primary.showTotalCash(class="{{isActive 'totalCash'}}")
      //    input#revenueAll(type='radio', name='options', autocomplete='off', checked='')
      //    | Tổng Doanh Số
      //  label.btn.btn-primary.showDebtCash(class="{{isActive 'debtCash'}}")
      //    input#option2(type='radio', name='options', autocomplete='off')
      //    | Doanh Số Trong Kỳ
      //  label.btn.btn-primary.showBeginCash(class="{{isActive 'beginCash'}}")
      //    input#option3(type='radio', name='options', autocomplete='off')
      //    | Nợ Đầu Kỳ



    .panel-body
      //.with-3d-shadow.with-transitions
      //  svg#totalRevenueAll.mypiechart(style="display: block; float: left; height: 500px !important; width: 600px !important;")
      #revenueBasic

