template(name="transaction")
  #header
    unless isShowHistory
      .editor-row
        //.editor-wrapper(style="width: 150px")
        //  span.ilabel.optional chọn đối tượng:
        //  +iSelect(options=typeSelectOptions class="field")

        .editor-wrapper(style="width: 300px")
          span.ilabel.optional tên khách hàng:
          +iSelect(options=customerSelectOptions class="field")

        .editor-wrapper(style="width: 250px")
          span.ilabel.optional loại phiếu:
          +iSelect(options=customerIncomeOrCostSelectOptions class="field")

        .editor-wrapper.pull-right
          button.flat.btn.lime.createTransaction(class="{{getSession 'transactionCreateNewIsDisabled'}}") XÁC NHẬN


  #content.modern.product-management
    .dual-content
      .dual-detail-wrapper
        //.dual-detail
        .nano: .nano-content
          if isShowHistory
            +cashReceiptVoucherTransactionHistorySection
          else
            +transactionOverviewSection

          //+bankPaymentVoucherTransactionHistorySection

      //.dual-addon
      //  .search-filter.icon-search-8
      //    input(name='searchFilter' type="text" placeholder="tìm kiếm...")
      //
      //  .nano: .nano-content
      //    .group-wrapper
      //      .caption.group &nbsp;
      //      each transactionMenus
      //        .caption.inner
      //          span.avatar.letter(class="{{icon}}")
      //          span.text.uppercase.light-font {{display}}