template(name="interestRateNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.interestRateToCustomer khách hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.interestRateToTransaction thu chi

