template(name="providerManagementImportDetails")
  tr.header-row(style="background-color: {{isColor}};")
    td.has-commands(colspan="5" style="border-left: solid 2px #f39c12")
      | &nbsp;
      .bill-header(style="background-color: #f39c12;") <b>{{momentFormat successDate "DD/MM/YYYY"}}</b>
      .bill-header.hide-on-print(style="background-color: {{isColor}}; left: 90px; color: #7ac5f9") {{billNo}}
      .bill-header.show-on-print(style="background-color: {{isColor}}; left: 120px; color: #7ac5f9") {{billNo}}
      //.commands
      //  if showDeleteImport
      //    .lemon.rounded.tiny.btn.red.deleteImport: span.icon-minus-4
  tr(style="background-color: {{isColor}};")

  each details
    tr.detail-row(style="background-color: {{isColor}};")
      td.first-column {{getProductName product}}
      td.number {{quality}}
      td(align="center") {{getProductUnitName productUnit}}
      td.number {{formatNumber price}}
      td.last-column.number {{formatNumber totalPrice}}

  if discountCash
    tr.detail-row(style="background-color: {{isColor}};")
      td.number(colspan="4"): span Tổng phiếu :
      td.number.receive.border-top: span.s5 <b>{{formatNumber totalPrice}}</b>
    tr.detail-row(style="background-color: {{isColor}};")
      td.number(colspan="4"): span Chiết khấu :
      td.number.paid: span.s5 <b>{{formatNumber discountCash}}</b>
    if depositCash
      tr.detail-row(style="background-color: {{isColor}};")
        td.number(colspan="4"): span Thanh toán :
        td.number.paid: span.s5 <b>{{formatNumber depositCash}}</b>
  else
    if depositCash
      tr.detail-row(style="background-color: {{isColor}};")
        td.number(colspan="4"): span Tổng phiếu :
        td.number.receive.border-top: span.s5 <b>{{formatNumber totalPrice}}</b>
      tr.detail-row(style="background-color: {{isColor}};")
        td.number(colspan="4"): span Thanh toán :
        td.number.paid: span.s5 <b>{{formatNumber depositCash}}</b>

  each transactions
    tr.paid-row.top(class="{{transactionClass}}" style="background-color: {{isColor}}; ; border-bottom: none;")
      td.has-commands
        span {{description}}
        if allowDelete
          if isManager
            if isDelete
              .commands: .lemon.rounded.tiny.btn.red.deleteTransaction: span.icon-minus-4
      td.number(colspan="2")
      td.number.border-top(style="color: #666;")
        if showBeforeDebtBalance
          span.icon-feather-1.s5 <b>{{formatNumberBeforeDebtBalance}}</b>
      td.number.border-top: span.s5 <b>{{formatNumber owedCash}}</b>

    if isLastTransaction
      tr.detail-row(style="background-color: {{isColor}};")
        td.number(colspan="3")
        td.number.border-top
        td.number.border-top: span.s5 <b>{{formatNumber latestDebtBalance}}</b>

  tr.detail-row(style="background-color: #EFEFF4;"): td(colspan="5")