template(name="warehouseReturn")
  #content.modern.product-management
    .dual-content
      .dual-detail-wrapper
        //.dual-detail
        .nano: .nano-content
          .section.panel.panel-default.printable-area
            .panel-heading
              table.lemon-grid
                tr
                  th(style="width:30px") STT
                  th(style="width:auto") Tên Sản Phẩm
                  th.number(style="width:90px") Số lượng bán
                  th.number(style="width:135px") Số lương thu hồi

            .panel-body
              table.lemon-grid
                tr
                  th(style="width:40px")
                  th(style="width:auto")
                  th(style="width:60px")
                  th(style="width:35px")
                  th(style="width:100px")
                  th(style="width:35px")


                each listProductsTrade
                  tr.detail-row
                    td {{count}}
                    td.first-column {{name}}
                    td.number {{saleQuantity}}
                    td(style="padding-left: 5px;") {{unitName}}
                    td.number {{saleReturnQuantity}}
                    td(style="padding-left: 5px;") {{unitName}}

                if getSession 'warehouseShowAll'
                  each listProductsNotTrade
                    tr.detail-row
                      td {{count}}
                      td.first-column {{name}}
                      td.number {{saleQuantity}}
                      td(style="padding-left: 5px;") {{unitName}}
                      td.number {{saleReturnQuantity}}
                      td(style="padding-left: 5px;") {{unitName}}


            //.panel-footer
            //  table.lemon-grid.safe
            //    tr
            //      th(style="width:auto")
            //      th(style="width:200px")
            //      th(style="width:200px")
            //
            //    tr
            //      td
            //      td Giá Tri Kho Hàng:
            //      td.number <b>{{formatNumber totalCostPrice}}</b> VND
            //
            //    tr
            //      td
            //      td Doanh Số Dự Kiến:
            //      td.number <b>{{formatNumber totalRevenue}}</b> VND