template(name="gridComponent")
  .igrid.row(class="{{wrapperClass}}")
    if headerTemplate
      .igrid-header
        +Template.dynamic(template=headerTemplate)
    .igrid-content.col
      each dataSource
        .item-wrapper(class="{{animationClass}}")
          +Template.dynamic(template=itemTemplate data=this)