template(name="customerGroupSearch")
  .dual-addon
    .group-nav
      .caption.inner.toCustomer
        span.avatar.letter {{getPublishedCount 'customers'}}
        span.text.uppercase KHÁCH HÀNG
      .caption.inner.active
        span.avatar.letter {{getPublishedCount 'customerGroups'}}
        span.text.uppercase NHÓM KHÁCH HÀNG

    .search-filter.icon-search-8
      input(name='searchFilter' type="text" placeholder="tìm nhóm khách hàng...")
      if getSession 'customerGroupCreationMode'
        .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createCustomerGroupBtn

    .nano: .nano-content(style="margin-bottom: 35px;")
      .list
        .caption-item: b DANH SÁCH NHÓM

        each customerGroupLists
          .doc-item(class="{{activeClass 'currentCustomerGroup'}}")
            .avatar-wrapper: .avatar-image(class="missing"
            style="background-image:url('')") A
            .doc-info
              .title {{name}}
              .price-stamp {{customerCount}} khách hàng