@import "../../../../../styles/lib.import.styl"

.merchant-home
  .customer-management
    background no-repeat url("merchant/images/metro/customer.gif")
    background-size contain
    &:before
      opacity .1 !important
  .distributor-management
    background center no-repeat url("merchant/images/metro/provider01.gif")
    background-size cover
    background-color #fff !important
  .product-management
    background center no-repeat url("merchant/images/metro/product.jpg")
    background-size cover
    background-color #fff !important
  .order-management
    background center no-repeat url("merchant/images/metro/sale.jpg")
    background-size cover
    background-color #fff !important