@require '../wings.import.styl'

/*nav.fixed-top .wrapper, #container*/
/*max-width app-width*/
/*margin 0 auto*/
.click-command
  cursor pointer

.hide
  display none

.clearfix
  &:before, &:after
    content ""
    display table
  &:after
    clear both

.pointer-event-off
  pointer-events none

for color in colors
  .bg-{color[0]}
    background-color color[1]