@require '../wings.import.styl'
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,600,700,800,italic800,italic400,400");
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,500&subset=latin,vietnamese")

body, body
  margin 0; color default-font-color
  font-family font-face
  font-size 14px

input
  font-family font-face
  outline none; color default-font-color

*
  box-sizing border-box

::-webkit-scrollbar {
  width 3px
}

::-webkit-scrollbar-thumb  {
  height 40%
  /*background-color #8cbf26;*/
  background-color #909090;
}