template(name="providerNavigationPartial")
   li.blue.teleport.inav.animated.fadeInUp.icon-tags.customerToSales nhập kho
   li.blue.teleport.inav.animated.fadeInUp.icon-reply-outline.customerToReturns trả hàng