template(name="providerNavigationPartial")
  li.blue.teleport.inav.animated.fadeInUp.icon-download-outline.providerToImport nhập kho
  li.blue.teleport.inav.animated.fadeInUp.icon-edit.providerToReturn trả hàng
  li.blue.teleport.inav.animated.fadeInUp.icon-tags.providerPaid trả tiền
  li.blue.teleport.inav.animated.fadeInUp.icon-tags.providerOldDebt nợ tiền
