template(name="plan")
  .zero-state
    .cog-icon.icon-appbar-cog.animate-spin
    .header.insert
      span tạo kế hoạch mới để bắt đầu
    .sub-header chưa có kế hoạch
    img.cover-icon(src="/images/svg/stock.svg")