template(name="productManagementNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.productToPriceBook bảng giá
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.productToOrder bán hàng
