template(name="providerManagementNavigationPartial")
   li.blue.teleport.inav.icon-download-outline.animated.fadeInUp.providerToImport nhập kho
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.providerPaid trả tiền
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.providerOldDebt nợ tiền
   //li.blue.teleport.inav.icon-reply-outline.animated.fadeInUp.providerToReturns trả hàng