template(name="providerManagement")
  #content.modern
    .dual-content
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm nhà cung cấp...")
          if getSession 'providerManagementCreationMode'
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createProviderBtn

        .nano: .nano-content(style="margin-bottom: 35px;")
          .list
            each providerLists
              .doc-item(class="{{activeClass 'providerManagementCurrentProvider'}}")
                .avatar-wrapper: .avatar-image(class="{{hasAvatar}}"
                style="background-image:url('{{avatarUrl}}')") {{aliasLetter this.firstName}}
                .doc-info
                  .title {{name}}
                  //.sub-title {{description}}
                if totalCash
                  .price-stamp
                    <b>{{formatNumber totalCash}}</b>
                    span(style="font-size: 11px;") <b>VND</b>

      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +providerManagementOverviewSection  getSession 'providerManagementCurrentProvider'
            +providerManagementImportsHistorySection getSession 'providerManagementCurrentProvider'


