@require '../wings.import.styl'

print-mode()
  .kernel-addon, .kernel-footer, #root-addon, nav.fixed-top, .application-spinner, .section:not(.printable-area)
    display none
  .kernel-detail
    margin-right 0 !important
    width 100%
  .dual-detail
    margin-left 0 !important
  #container[style]
    padding-top 0 !important
    height auto !important

  .region-row.grid
    tr.detail-row
      td:first-child
        border-left none !important
    .commands
      display none !important

  .printable-area
    margin 0 !important

  .nano
    position inherit
    width auto; height 100%
    overflow auto
    .nano-content
      position inherit
      overflow auto
      height 100%

@media print
  print-mode()
body.print-mode
  print-mode()