template(name="revenueBasicCustomerReport")
  .section.top.panel.panel-default.printable-area
    .panel-heading Doanh Số Của Khách Hàng:
    .panel-body
      .with-3d-shadow.with-transitions
        svg#revenueOfCustomerReport.mypiechart(style="display: block; float: left; height: 500px !important; width: 600px !important;")
