template(name="wingsEditorPane")
  .wings-editor-pane(class="{{isEditingClass}}" focusable="false")
    ul.segment
      li.icon-bold(class="{{boldActiveClass}}" action="bold" wings-tip="in đậm" direction="left")
      li.icon-italic(class="{{italicActiveClass}}" action="italic" wings-tip="in nghiêng" direction="bottom")
      li.icon-underline(class="{{underlineActiveClass}}" action="underline" wings-tip="gạch chân" direction="right")
    //.button(class="{{underActiveClass}}") U
    //.button(class="{{crossActiveClass}}") S