template(name="priceBookCustomerDetailRowEdit")
  tr.editors.dual-border
    if isGroup
      td.command
    td.first-column {{productName}}
    td.date {{productUnitName}}
    td.number: input(name="editSaleQuantity" min="0")
    td.number: input(name="editSaleDebtQuantity" min="0")