template(name="generalStatisticCustomerGroup")
  .section.top.panel.panel-default.printable-area
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel.optional nhóm khách hàng
        +iSelect(options=areaSelectOptions class="field")

    .panel-body
      #revenueOfAreaReport
