template(name="priceBookNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.priceBookToProduct sản phẩm
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.priceBookToSale bán hàng
