template(name="priceBookNavigationPartial")
  //li.blue.teleport.inav.animated.fadeInDown.icon-basket.priceBookToProduct sản phẩm
  //li.blue.teleport.inav.animated.fadeInDown.icon-basket.priceBookToSale bán hàng
  //li.blue.teleport.inav.animated.fadeInDown.icon-basket.priceBookToImport nhập kho
