template(name="importReturnProductSearch")
  .dual-addon
    //.search-filter.icon-search-8
    //  input(name='searchFilter' type="text" placeholder="tìm sản phẩm...")

    .nano: .nano-content(style="margin-bottom: 0px;"): .group-wrapper
      each returnParent.details
        .caption.advanced.inner.product-selection(class="{{productSelectionActiveClass}}")
          +avatarImageComponent(avatar=avatarUrl alias=name)
          span.text {{getProductName product}}
            .commands
              span.icon-right-open-big.addReturnDetail
          span.right-info {{availableQuantity}} {{getProductUnitName productUnit}}