template(name="importProductUnitSearch")
  .dual-addon
    .search-filter.icon-search-8
      input(name='searchFilter' type="text" placeholder="tìm sản phẩm...")

    .nano: .nano-content(style="margin-bottom: 35px;")
      .group-wrapper
        each unitProductSearches
          .caption.advanced.inner.product-selection(class="{{productSelectionActiveClass}}")
            +avatarImageComponent(avatar=avatarUrl alias=name)
            span.text {{name}}
              .commands: span.icon-right-open-big.addProductUnitOnImport

            unless inventoryInitial
              span.left-info(data-toggle="tooltip" data-container="body" data-placement="right"
              title="Quay về ô sản phẩm, nhập kho đầu kỳ.") Chưa tồn kho đầu kỳ
            span.right-info {{unitName}}