template(name="api")
  .dual-layout#api
    .detail-wrapper
      .dual-detail
        .nano: .nano-content
          .api-machine
            .header
              +wingsEditable(size="s2" model=currentNode field="name" label="tên node")
              +wingsEditable(size="s6" model=currentNode field="description")
              +wingsEditor(model=currentNode collection=currentCollection field="content" placeholder="Nội dung.." class="doc-editor")
            .subsection-wrapper
              .subsection-title Members

              each machineMembers
                +apiMachineMember this

              .insert-wrapper.hide(name="insertMemberWrapper")
                input.s7.insert-input(name="insertMemberInput")
              .wings-insert.member.click-command(name="insertMemberCommand"): .dashed-bar

            .subsection-wrapper
              .subsection-title Methods

              each machineMethods
                +apiMachineMethod this

              .insert-wrapper.hide(name="insertMethodWrapper")
                input.s7.insert-input(name="insertMethodInput")
              .wings-insert.method.click-command(name="insertMethodCommand"): .dashed-bar

    +apiNodeTree this

//template(name="apiNode")
//  li.api-node(class="{{nodeActiveClass}}")
//    span.link-hover {{name}}
//    .remove-node.icon-cancel-circled-4
//  if childNodes.length
//    ul
//      each childNodes
//        +apiNode nodeDetails