template(name="customer")
  .insert-wrapper: input.wings-field.insert(name="insertInput" placeholder="tên công ty..")
  .nano.animated.fadeIn: .nano-content
    unless getPublishedCount 'customer'
      +customerEmpty
    else
      +customerList

template(name="customerEmpty")
  .zero-state
    .cog-icon.icon-appbar-cog.animate-spin
    .header.insert
      span Tạo mới để bắt đầu
      .insert-arrow-icon.icon-back
    .sub-header Quy trình dựa trên bộ hồ sơ Mackay 66.
    img.cover-icon(src="/images/svg/stock.svg")
    a.peter-river.button.create-command Tải danh sách khách hàng

template(name="customerList")
  .list
    each documents
      .doc-item
        .avatar-wrapper: .avatar-image(class="{{missingImageClass image}}"
        style="background-image:url('{{productImageSrc image}}')") {{avatarLetter name}}
        .doc-info
          .title {{name}} <br/>
          .sub-title {{address}}
        .time-stamp.icon-clock {{standardDate version.createdAt}}
