template(name="interestRateManager")
  .section.top.panel.panel-default.options-section
    .panel-heading
      span.icon-contacts lãi suất mặc đinh
    .panel-body
      .collapsible-row
        .description Lãi suất nợ đầu kỳ
        input.input-field(style="width: 50px; font-weight: bolder; color: #7ac5f9;"
        name="interestRateInitial" placeholder='Lãi suất nợ đầu kỳ')
        span(style="padding-left: 5px;") %/tháng

      .collapsible-row
        .description Lãi suất nợ vay tiền
        input.input-field(style="width: 50px; font-weight: bolder; color: #7ac5f9;"
        name="interestRateLoan" placeholder='Lãi suất nợ vay tiền')
        span(style="padding-left: 5px;") %/tháng

      .collapsible-row
        .description Lãi suất nợ mua hàng
        input.input-field(style="width: 50px; font-weight: bolder; color: #7ac5f9;"
        name="interestRateSale" placeholder='Lãi suất nợ mua hàng')
        span(style="padding-left: 5px;") %/tháng