template(name="customerManagementNavigationPartial")
  //each navigates
  //  li(class="{{defaultClass}} {{animate}} {{color}} {{icon}} {{class}}") {{name}}

  li.blue.teleport.inav.icon-basket.animated.fadeInDown.customerToSales bán hàng
  li.blue.teleport.inav.icon-edit.animated.fadeInDown.customerToSales trả hàng
  li.blue.teleport.inav.icon-edit.animated.fadeInDown.customerToSales nhập nợ
  li.blue.teleport.inav.icon-edit.animated.fadeInDown.customerToSales trả tiền
