template(name="transactionNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.transactionToCustomer khách hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.transactionToProvider nhà cung cấp
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.transactionToInterestRate lãi suất

