template(name="customerGroupCreate")
  .dual-detail-wrapper: .dual-detail
    .nano: .nano-content
      .section.top.panel.panel-default.new-options-section
        .panel-heading
          span.icon-contacts tạo nhóm khách hàng
          .commands
            .lemon.btn.lime.icon-ok-6.addCustomerGroup Lưu
            .lemon.btn.red.icon-cancel-7.cancelCustomerGroup Hủy

        .panel-body
          .collapsible-row
            .description Tên nhóm
            input.input-field.newCustomerGroup(name="customerGroupName"
            placeholder="Nhập tên khách hàng")

          .collapsible-row
            .description Ghi chú
            input.input-field.newCustomerGroup(name="customerGroupDescription" style="width: 70%;"
            placeholder="Ghi thêm thông tin")
