template(name="kernel")
  .kernel-content.animated.fadeIn
    .nano.messenger-scroller: .nano-content
      .channel-info
      .channel-messages
        each messages
          +message this

  .kernel-footer
    input.messenger-input(type="text")