@import "../../styles/lib.import.styl"

.editor-wrapper
  .center
    width 100%
    text-align center
  .bootstrap-touchspin
    padding-left: 20px

    .input-group-addon, .bootstrap-touchspin-up, .bootstrap-touchspin-down
      margin-bottom 0
      margin-top 0
      padding 4px 10px
      border-color #DFDFDF
    .bootstrap-touchspin-up
      padding 4px !important
      margin-left -1px !important
      border-color #DFDFDF
      border-left-color transparent
      border-radius left 0
    .bootstrap-touchspin-down
      padding 4px !important
      margin-right -2px !important
      border-right-color transparent
      border-radius right 0
    input
      height 30px
      text-align center
      border-radius 0
      padding 4px 2px
    .input-group-btn
      &:first-child
        left 10px
      &:last-child
        right 35px