template(name="avatarImageComponent")
  if avatar
    span.avatar.image: img(src="{{avatar}}")
  else
    if name
      span.avatar.letter {{firstName}}
    else
      span.avatar.letter {{aliasLetter alias}}
