@require 'jeet'

/*.welcome-wrapper*/
  /*.welcome-dual*/
    /*column(1/2, gutter: 0)*/

.region .dual-field .field-wrapper
  column(1/2, gutter: 0)

for i in (1..12)
  .col-{i}
    column(i/12, gutter: 0)