@require '../wings.import.styl'

.application
  background-color #ffffff

.dual-layout#home
  clearfix()

.dual-layout#home .dual-detail
  .kernel-detail, .kernel-addon
    transition margin-right ease 0.15s
  .kernel-footer
    transition right ease 0.15s

.application.expand .dual-layout#home .dual-detail
  .kernel-detail
    margin-right 0
  .kernel-addon
    margin-right -(kernel-addon-size)
  .kernel-footer
    right 0