@require '../wings.import.styl'

nav .branding
  width root-addon-size
  background-color root-addon-bg-dark
  color #fff
  height 50px

  .logo-img
    border-radius 50%
    width 30px; height @width
    absolute top 10px left 15px
    background-size cover
  .logo-text
    float left
    padding-left 55px
    font-size 30px
    font-weight 800; font-style italic
    .sub-text
      font-weight 400
      font-size 12px
      margin-left -8px

.application.expand #kernel-addon-nav
  margin-right -(kernel-addon-size)

#kernel-addon-nav
  position relative; user-select none
  width kernel-addon-size; height nav-height
  transition margin-right ease 0.15s
  background-color #ffffff
  /*background-color lighten(kernel-addon-bg, 2)*/
  padding-left 7px
  border-left kernel-addon-border
  border-bottom 1px solid #e8e8e8

  .app-descriptions
    cursor pointer; min-width 30px
    absolute right kernel-addon-size top 10px
    padding 0 10px 0 10px
    white-space nowrap
    background-color lime
    height 30px; line-height @height
    color #fff; font-weight 600
    border-radius left 5px
    for color in colors
      &.{color[0]}
        background-color color[1]

  .addon-launcher
    display inline
    margin-left 8px
    padding 2px; border-radius 10px
    color #fff; font-size 25px
    cursor pointer
    position relative
    &.active:after
      content: " "
      width 0; height @width
      absolute bottom -15px left 9px
      border-left solid 10px transparent
      border-right solid 10px transparent
      border-top solid 10px #ffffff
    for color in colors
      &.{color[0]}
        background-color lighten(color[1], 5)

  .history-navigators
    float left;  font-size 0; margin-right 15px
    .navigator
      display inline; cursor pointer
      border-left 1px solid #EAEAEA
      background-color #fff
      font-size 16px
      padding 6px 3px
      &:hover { color: theme-color }
      &.home  { padding: 6px }
      &:first-child
        border-radius left 3px
        border-left none
      &:last-child
        border-radius right 3px