template(name="reportOverview")
  .editor-row
    .editor-wrapper.right(style='width: 125px')
      span.ilabel(style='background-color:#f35112; color:#fff;') đến hết ngày
      input(name='toDate', binding='datePicker', todayhighlight='true', maxlength='20', style='border-bottom: none; text-align: center;')
    .editor-wrapper.right(style='width: 125px')
      span.ilabel(style='background-color: #f35112; color: #fff;') xem từ ngày
      input(name='fromDate', binding='datePicker', todayhighlight='true', maxlength='20', style='border-bottom: none; text-align: center;')


  .section.panel.panel-default(style="margin-bottom: 10px;")
    table.lemon-grid
      tr
        th(style="width:40px")
        th(style="width:110px")
        th(style="width:5px")
        th(style="width:120px")
        th(style="width:5px")
        th(style="width:auto")

      tr
        td
        td: b Tổng chi phí
        td.number :
        td.number <b>{{formatNumber overview.totalCostPrice}} </b>
        td
        td VNĐ

      tr
        td
        td: b Tổng doanh số
        td.number :
        td.number <b>{{formatNumber overview.totalRevenue}}</b>
        td
        td VNĐ

      tr
        td
        td: b Tổng lợi nhận
        td.number :
        td.number <b>{{formatNumber overview.totalRevenue}}</b>
        td
        td VNĐ