template(name="warehouseSummaryAllProduct")
  .section.panel.panel-default.printable-area
    .panel-heading
      table.lemon-grid
        tr
          th(style="width:40px") STT
          th(style="width:auto")
            if getSession 'warehouseSectionSearchProduct'
              input(name='searchProductFilter' type="text" placeholder="tìm sản phẩm...")
            else
              | Sản Phẩm
              i.icon-search-8.rotateY180.searchProduct(style="color: #ABD4E3; font-size: 16px; cursor:pointer; padding-left: 10px;")
          th.number(style="width:120px") Tổng Nhập
          th.number(style="width:120px") Tổng Bán
          th.number(style="width:120px") Đang Giao
          th.number(style="width:120px") Tồn Kho

    .panel-body
      table.lemon-grid
        tr
          th(style="width:50px")
          th(style="width:auto")
          th(style="width:70px")
          th(style="width:50px")
          th(style="width:70px")
          th(style="width:50px")
          th(style="width:70px")
          th(style="width:50px")
          th(style="width:70px")
          th(style="width:50px")


        each details
          tr.detail-row
            td(style="padding-left: 10px;") {{count}}
            td.first-column {{name}}

            td.number {{availableImport}}
            td(style="padding-left: 5px;") {{unitName}}

            td.number {{availableSale}}
            td(style="padding-left: 5px;") {{unitName}}

            td.number {{quantity.inOderQuantity}}
            td(style="padding-left: 5px;") {{unitName}}

            td.number {{allQuantity}}
            td(style="padding-left: 5px;") {{unitName}}
