//template(name="merchantInfoOptions")
//  with merchantProfile
//    .section.top.panel.panel-default.options-section
//      .panel-heading
//        span.icon-shop Thông tin Đại lý
//        .commands
//          if showSyncCommand
//            .lemon.btn.rounded.red.icon-cancel-7.rollBackMerchantProfileEdit
//            .lemon.btn.rounded.lime.icon-ok-6.syncMerchantProfileEdit
//
//      .panel-body
//        .collapsible-row
//          .description Tên đại lý
//          input.input-field.merchantProfileOption(name="merchantName" value="{{name}}" placeholder="nhập tên của Đại lý")
//        .collapsible-row
//          .description Số điện thoại
//          input.input-field.merchantProfileOption(name="merchantPhone" value="{{phone}}" placeholder="nhập số điện thoại")
//        .collapsible-row
//          .description Email
//          input.input-field.merchantProfileOption(name="merchantEmail" value="{{email}}" placeholder="nhập địa chỉ Email")
//        .collapsible-row
//          .description Địa chỉ
//          input.input-field.merchantProfileOption(name="merchantAddress" value="{{address}}" placeholder="nhập địa chỉ")
