template(name="warehouseNavigationPartial")
  if getSession 'warehouseShowReturn'
    li.blue.teleport.inav.icon-tags.animated.fadeInUp.warehouseShow kho bán hàng
  else
    li.blue.teleport.inav.icon-tags.animated.fadeInUp.warehouseShowReturns kho thu hồi

  if getSession 'warehouseShowAll'
    li.blue.teleport.inav.icon-tags.animated.fadeInUp.warehouseShowTradeProducts sản phẩm có giao dịch
  else
    li.blue.teleport.inav.icon-tags.animated.fadeInUp.warehouseShowAllProducts tất cả sản phầm
