template(name="priceBookNavigationPartial")
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales thêm mới
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales chỉnh sửa
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales thêm nhóm
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales nợ củ
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales trả tiền
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.customerToSales bán hàng
   li.blue.teleport.inav.icon-reply-outline.animated.fadeInUp.customerToReturns trả hàng