template(name="customerGroup")
  #content.modern.customer-management
    .dual-content
      .dual-detail-wrapper
        .dual-detail
          .nano: .nano-content
            +customerGroupOverviewSection getSession 'currentCustomerGroup'
            +customerGroupDetailSection getSession 'currentCustomerGroup'
      .dual-addon
        .search-filter.icon-search-8
          input(name='searchFilter' type="text" placeholder="tìm nhóm khách hàng...")
          if getSession 'customerGroupCreationMode'
            .lemon.btn.rounded.tiny.lime.icon-plus-6.create-command.createCustomerGroupBtn

        .nano: .nano-content(style="margin-bottom: 35px;")
          .list
            each customerGroupLists
              .doc-item(class="{{activeClass 'currentCustomerGroup'}}")
                .avatar-wrapper: .avatar-image(class="missing"
                style="background-image:url('')") A
                .doc-info
                  .title {{name}}
                  .price-stamp {{customerCount}} khách hàng

            //.doc-item
            //  .avatar-wrapper: .avatar-image(class="missing"
            //  style="background-image:url('')") A
            //  .doc-info
            //    .title Thuốc Trừ Sâu Anvlin
            //    .sub-title 25,000 VNĐ
            //  .time-stamp.icon-angle-right
            //  .price-stamp.icon-ticket 200 Chai
            //
            //.doc-item
            //  .avatar-wrapper: .avatar-image(class="missing"
            //  style="background-image:url('')") H
            //  .doc-info
            //    .title Sữa Rửa Mặt Thế Hệ Mới HDC
            //    .sub-title 3,250,000 VNĐ
            //  .time-stamp.icon-angle-right
            //  .price-stamp.icon-ticket 200 Thùng



  //#footer.modern
  //  .editor-row
  //    .editor-wrapper.dual-spacer
  //    .editor-wrapper.right
  //      span.s5 TỔNG NỢ:
  //      span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
