//template(name="revenueOfAreaReport")
//  .section.top.panel.panel-default.printable-area
//    .editor-row
//      .editor-wrapper(style="width: 200px")
//        span.ilabel.optional khu vực
//        +iSelect(options=areaSelectOptions class="field")
//
//    .panel-body
//      #revenueOfAreaReport
