template(name="import")
  .insert-wrapper: input.wings-field.productSearch(name="productSearch" placeholder="tìm kiếm...")
  .nano.animated.fadeIn: .nano-content
    unless getPublishedCount 'import'
      +importEmpty
    else
      unless getPublishedCount 'product'
        +orderProductEmpty
      else
        unless subslug
          +importList
        else
          if productSearches
            +productSearches(type='import')

template(name="importEmpty")
  .zero-state
    .cog-icon.icon-appbar-cog.animate-spin
    .header.insert
      span Tạo nhập kho mới tại đây
    .sub-header chưa có lịch sử nhập kho
    img.cover-icon(src="/images/svg/stock.svg")
    a.peter-river.button.create-command Tạo nhập kho

template(name="importList")
  .list
    each documents
      .doc-item.import-item
        .style-icon.icon-play.list
        .avatar-wrapper: .avatar-image(style="background-image:url('{{userAvatarSrcById creator}}')")
          | {{userAvatarLetterById creator}}
        .doc-info
          .title {{importName}} <br/>
          .sub-title {{userNameById creator}}
        .time-stamp.icon-clock {{standardDate version.createdAt}}
        .price-stamp.icon-ticket {{formatNumber finalPrice}} VNĐ