template(name="ApplicationLayout")
  +wingsTip
  +siderAlert
  if currentActiveModal
    +UI.dynamic(template=currentActiveModal)
  .application-spinner.icon-config(wings-tip="{{Session 'applicationStatus'}}" direction="right")
  .application(class="{{applicationCollapseClass}}")
    +navigation
    #container
      +yield