template(name="addonNotFound")
  .zero-state
    .header Không tìm thấy ứng dụng!
     .sub-header
      span Ứng dụng này không tồn tại, có thể bạn đã gõ nhầm... Hãy thử lại bằng đường dẫn khác.

template(name="addonDocumentNotFound")
  .zero-state
    .header Không tìm thấy tài liệu!
     .sub-header
      span Tài liệu mà bạn yêu cầu không tồn tại, hoặc đã bị xóa khỏi hệ thống. Hãy kiểm tra lại đường dẫn.
      span <br/> <br/>Liên hệ với các bên có liên quan nếu cảm thấy cần thiết.

