template(name="customerManagement")
  #content.modern.customer-management
    .dual-content
      .dual-detail-wrapper: .dual-detail: .nano: .nano-content
        +Template.dynamic(template='customerManagementOverviewSection' data=currentCustomer)
        +Template.dynamic(template='customerManagementSalesHistorySection' data=currentCustomer)
        //+customerManagementOverviewSection currentCustomer
        //+customerManagementSalesHistorySection currentCustomer


      .dual-addon
        +Template.dynamic(template='customerManagementCustomerSearch' data=currentCustomer)

  //#footer.modern
  //  .editor-row
  //    .editor-wrapper.dual-spacer
  //    .editor-wrapper.right
  //      span.s5 TỔNG NỢ:
  //      span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
