template(name="productGroupNavigationPartials")
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.productToSales thêm mới
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.productToSales chỉnh sửa
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.productToSales thêm nhóm
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.productToSales nợ củ
   //li.blue.teleport.inav.icon-tags.animated.fadeInUp.productToSales trả tiền
   li.blue.teleport.inav.icon-tags.animated.fadeInUp.productToSales bán hàng
   li.blue.teleport.inav.icon-reply-outline.animated.fadeInUp.productToReturns trả hàng