template(name="navigation")
  nav(role="navigation" class="{{appInfo.color}}").navbar.main.navbar-fixed-top
    .wrapper
      //a.branding
      //  span.logo Chat
      //  span.version {{systemVersion}}


      ul.nav.navbar-nav
        li.app-name
          | {{currentAppInfo.name}}
          span.click-enable.icon-shop#goHomeButton
          span.click-enable.icon-off-1#logoutButton
        //li.inav.icon-chat-6
        //  +messageNotifications
        //  .notification-counts(class="{{activeClassByCount unreadMessageCount}}") {{unreadMessageCount}}
        //  span.dropdown-toggle(data-toggle="dropdown")
        //li.inav.icon-globe-6
        //  +notificationDetails
        //  .notification-counts(class="{{activeClassByCount unreadNotifiesCount}}") {{unreadNotifiesCount}}
        //  span.dropdown-toggle(data-toggle="dropdown")

        unless isMerchantHome
          li.blue.inav.home.icon-left-open-big.animated.fadeInRight trở về

        if navigationPartial
          +Template.dynamic(template=navigationPartial.template data=navigationPartial.data)

        each subMenus
          li.inav(class="{{isActiveRoute regex=route}}")
            a(href="{{pathFor route}}"): i.fa(class="{{icon}}")

      //if isntMerchantHome
      //  ul.nav.navbar-nav.navbar-right.sub-menu
      //    li.tile(data-app="order" style="background-color:#67b540;")
      //      span.caption.left.top Bán hàng
      //      span.caption.center.middle: span.table: i.icon-basket
      //      span.caption.bottom.right new
      //    li.tile(data-app="order" style="background-color:#2aa6e3;")
      //      span.left.top Nhóm khách hàng
      //    li.tile(data-app="order" style="background-color:#FFAA31;")
      //      span.left.top Thu chi
      //    li.tile.amethyst(data-app="order")
      //      span.left.top Báo Cáo


