template(name="orderRowEdit")
  tr.detail-row.editor-row
    td.name
      | {{productInfo.product.name}}
      .commands
        .remove.order-row.icon-minus-circled.animated.bounceIn
    td.number: +regionInput(wrapperClass="price" type="number" value=price)
    td.number: +regionInput(wrapperClass="quality" type="number" value=quality)
    td.number {{productInfo.unit.name}}
    td.number.strong {{formatNumber multipliedPrice}}

template(name="orderRowDisplay")
  tr.large-name.detail-row
    td(colspan="5") {{productInfo.product.name}}
  tr.detail-row
    td.small-name
      | {{productInfo.product.name}}
      .commands
        .remove.order-row.icon-minus-circled
    td.number {{formatNumber price}}
    td.number {{formatNumber quality}}
    td.number {{productInfo.unit.name}}
    td.number.strong {{formatNumber multipliedPrice}}