template(name="order")
  .insert-wrapper: input.wings-field.productSearch(name="productSearch" placeholder="tìm kiếm...")
  .nano.animated.fadeIn: .nano-content
    unless getPublishedCount 'order'
      +orderEmpty
    else
      unless getPublishedCount 'product'
        +orderProductEmpty
      else
        unless subslug
          +orderList
        else
          if productSearches
            +productSearches

template(name="orderEmpty")
  .zero-state
    .cog-icon.icon-appbar-cog.animate-spin
    .header.insert
      span Đơn hàng được thể hiện tại đây
    img.cover-icon(src="/images/svg/stock.svg")
    a.peter-river.button.create-command Tạo đơn hàng

template(name="orderProductEmpty")
  .zero-state
    .header.insert
      span Chưa có danh sách sản phẩm
    img.cover-icon(src="/images/svg/products-empty-state.svg")
    a.peter-river.button.goto-product Đến giao diện sản phẩm

template(name="orderList")
  .list
     each documents
      .doc-item.order-item
        .avatar-wrapper: .avatar-image(style="background-image:url('{{userAvatarSrcById creator}}')")
          |{{userAvatarLetterById creator}}
        .doc-info
          .title {{orderName}} <br/>
          .sub-title {{userNameById creator}}
        .time-stamp.icon-clock {{standardDate version.createdAt}}
        .price-stamp.icon-ticket {{formatNumber finalPrice}} VNĐ

template(name="productSearches")
  .list
    each productSearches
      each units
        .doc-item.product-item.selection-source
          .style-icon.icon-angle-left
          .avatar-wrapper: .avatar-image(class="{{missingImageClass ../image}}"
            style="background-image:url('{{productImageSrc ../image}}')") {{avatarLetter ../slug}}
          .doc-info
            .title {{{../name}}}<br/>
            .sub-title {{name}}
          .time-stamp.icon-clock {{standardDate ../version.createdAt}}
          .price-stamp.icon-ticket {{formatNumber dynamicPrice}} VNĐ