@require '../../wings.import.styl'

.dual-layout#home
  .dual-detail
    .kernel-addon
      position relative; z-index 2
      float right
      width kernel-addon-size; height 100%
      margin-left -100%
      background-color kernel-addon-bg
      border-left kernel-addon-border

.dual-layout#home .kernel-addon
  padding-bottom 52px
  .zero-state
    clearfix()
    position relative
    padding 15px 12px 10px 12px
    text-align center
    input.insert
      width 100%
    .header
      font-size 25px; font-weight 300
      margin-top 10px
      &.insert
        padding-right 50px
        text-align right
        position relative
        .insert-arrow-icon
          absolute top -35px right 10px
          transform rotate(56deg)
          font-size 45px
          color #C5C5C5

    .sub-header
      font-size 18px; font-weight 300
      margin-top 10px
      color #798c9c

    .cover-icon
      display block
      width 170px; height 212px
      margin 20px auto 30px auto
    .cog-icon
      absolute top 60px left 10px
      font-size 30px
      color #B8B8B8

.dual-layout#home .wings-editable
  input
    border-bottom 1px solid #ddd
    &:focus
      border-bottom 1px solid theme-color
    &.heading
      background-color transparent
      font-size 20px
