template(name="providerNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-download-outline.providerToImport nhập hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.providerToReturn trả hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-tags.providerPaid nhập nợ
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-tags.providerOldDebt trả tiền
