template(name="providerNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-download-outline.providerToImport nhập hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-edit.providerToReturn trả hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-tags.providerPaid trả tiền
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-tags.providerOldDebt nhập nợ
