@require '../../styles/wings.import.styl'

.sider-alert-wrapper
  position fixed
  top -1000px
  margin-left 8px
  z-index 1002
  #sider-alert
    position relative
    border-radius 4px
    padding 5px
    max-width 300px
    border 1px solid rgba(0,0,0,0.9)
    background-color rgba(0,0,0,0.9)
    user-select none
    cursor default
    color #ffffff
    &:after
      content: " "
      width 0; height @width
      border 8px solid rgba(0,0,0,0.9)
      border-top-color transparent
      border-bottom-color transparent
      border-left none
      absolute left -8px top 50%
      margin-top -8px
