template(name="orderNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.orderToCustomer khách hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.orderToPriceBook bảng giá
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.orderToDelivery giao hàng
  li.blue.teleport.inav.animated.fadeInDown.whiteIcon.icon-basket.orderToProduct sản phẩm


