template(name="orderNavigationPartial")
  li.blue.teleport.inav.animated.fadeInDown.icon-basket.orderToDelivery tình trạng phiếu
  li.blue.teleport.inav.animated.fadeInDown.icon-basket.orderToCustomer khách hàng
  li.blue.teleport.inav.animated.fadeInDown.icon-basket.orderToPriceBook bảng giá
