template(name="orderRowEdit")
  tr.detail-row.large-name: td(colspan="3")
    span {{getProductName product}}
    //if product.basicUnit
    //  span ({{product.basicUnit}})
    if discountPercent
      span.super.s7.color-lime GIẢM GIÁ {{round discountPercent}}%


  tr.editors.dual-border(class="{{errorClass}}")
    td.bill-name.has-commands
      |{{productName}}
      .commands
        .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteOrderDetail: span.icon-minus-4
    td.quality: input.error-field(name="editQuantity" min="0" style="text-align: center;")
    td: span
      |{{unitName}}
      unless isBase
        span.super.s7.color-lime {{formatNumber basicQuantity}} {{basicName}}
    td.number.price.editable-field {{formatNumber price}}
    td.bill-discount: input(name="editDiscountCash" min="0" max="30")
    td.number.final-price <b>{{formatNumber finalPrice}}</b>

template(name="orderRowDisplay")
  tr.detail-row.large-name: td(colspan="3")
    span {{getProductName product}}
    //if discountCash
    //   span.super.s7.color-lime GIẢM GIÁ {{round discountPercent}}%


  tr.detail-row.click-enable(class="{{errorClass}}")
    td.bill-name.has-commands
      |{{productName}}
      .commands
        .lemon.rounded.tiny.btn.blue.deleteOrderDetail: span.icon-minus-4

    td.date.quality.editable-field.error-field
      span
        |{{formatNumber quality}}
        if invalid
          span.super.s7.color-lime {{crossAvailable}}

    td: span
          |{{unitName}}
          unless isBase
            span.super.s7.color-lime {{formatNumber basicQuantity}} {{basicName}}

    td.number.price.editable-field {{formatNumber price}}

    td.number.bill-discount.editable-field
      span {{formatNumber discountCash}}
      //if discountPercent
      //   span.super.s7.color-lime -{{round discountPercent}}%

    td.number.final-price <b>{{formatNumber finalPrice}}</b>