template(name="saleDetailSection")
   .section.top.panel.panel-default.printable-area
      .panel-heading
         .hide-on-print
            span Số Phiếu: <b>{{billNo}}</b> , ngày <b>{{timeDMY}}</b> <b>{{fullDay}}</b> - <b>{{timeHM}}<sup>{{timeS}}</sup></b>
         .show-on-print
            +merchantPrintingHeader
            .bill-info
              .seller-info {{sellerName}} bán hàng
              .bill-no {{billNo}}
            .printing-info
              .document-name
                span.s4 PHIẾU THU CHI <br />
                span.uppercase {{buyer.name}}
              .document-info
                .right-info
                  if buyer.profiles.phone
                    span {{buyer.profiles.phone}}
                    span.icon-phone-circled <br/>
                  if buyer.profiles.address
                    span {{buyer.profiles.address}}
                    span.icon-location-outline

      .panel-body
         table.lemon-grid
            tr.table-header
               th.bill-name(style="width:auto") SẢN PHẨM
               th.date.quality(style="width:50px") SL
               th(style="width:110px") ĐƠN VỊ TÍNH
               th.number.price(style="width:80px") ĐƠN GIÁ
               th.number.bill-discount(style="width:80px") GIẢM GIÁ
               th.number.final-price(style="width:130px") THÀNH TIỀN

            each details
               if isRowEditing
                  +orderRowEdit
               else
                  +orderRowDisplay
            tr
            tr.top-dashed.space
               td(colspan="6" style="height: 25px")
                  input.editable.dashed.note(name="orderDescription" value="{{profiles.description}}" placeholder="ghi chú đơn hàng" size="40" maxlength="120")
            tr
               td(align="center"): span NGƯỜI NHẬN
               td
               td.number(colspan="2"): span.s5 TỔNG CỘNG:
               td.number(colspan="2"): span.s4 <b>{{formatNumber finalPrice}}</b> VNĐ
            tr
               td
               td
               td.number(colspan="2"): span.s5 CHIẾT KHẤU:
               td.number(colspan="2"): span.s4 <b>{{formatNumber discountCash}}</b> VNĐ
            tr
               td
               td
               td.number(colspan="2"): span.s5 TIỀN CŨ:
               td.number(colspan="2"): span.s4 <b>{{formatNumber customerOldDebt}}</b> VNĐ
            tr
               td(align="center"): span.s6.note (<i>Chữ ký và Họ Tên</i>)
               td
               td.number(colspan="2"): span.s5 THANH TOÁN:
               td.number(colspan="2"): span.s4 <b>{{formatNumber depositCash}}</b> VNĐ
            tr
               td(colspan="2")
               td
               td
               td.number(colspan="2" style="border-top: solid 1px #d7d7d7")
                  span.s4 <b>{{formatNumber customerFinalDebt}}</b> VNĐ

      .panel-footer.show-on-print
         .grea-print-message
            .rounded-gera-logo: .rounded-wrapper
               img(src="/images/white-pixel.jpg")
               img.rounded-img(src="/images/gera-small.png")
            i In từ hệ thống EDS - công ty Công Nghệ Thiên Ban (0838 111 766) - Hạn nợ {{dueDate}} ({{dueDay}} ngày)