//template(name="transactionNavigationPartial")
//  if isShowHistory
//    li.blue.teleport.inav.icon-tags.animated.fadeInUp.transactionCreateNew tạo phiếu thu - chi
//  else
//    li.blue.teleport.inav.icon-tags.animated.fadeInUp.transactionHistories lịch sử thu - chi
//
