template(name="defaultPriceBookDetailSection")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

      table.lemon-grid
        +defaultPriceBookDetailSectionHeader(isHeader=true)

    .panel-body.debt-details
      table.lemon-grid
        +defaultPriceBookDetailSectionHeader

        each allProductUnits
          if isRowEditing
            +priceBookDefaultDetailRowEdit

          else
            tr.detail-row(class="{{productSelected}}")
              td.command.icon-ok-6.hide-on-print
              td.first-column {{productName}}
              td.date {{productUnitName}}
              td.number {{formatNumber importPrice}} VNĐ
              td.number {{formatNumber salePrice}} VNĐ
              td.number {{formatNumber saleDebtPrice}} VNĐ

    //.panel-footer
    //  .right-float
    //    span.s5 TỔNG NỢ:
    //    span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
    //    //h3 Tổng tiền: {{formatNumber totalPurchases}} VNĐ



template(name="defaultPriceBookDetailSectionHeader")
  if isHeader
    tr
      th(style="width:auto") TÊN SẢN PHẨM
      th.date(style="width:80px") ĐƠN VỊ
      th.number(style="width:130px") GIÁ NHẬP
      th.number(style="width:130px") GIÁ TIỀN MẶT
      th.number(style="width:130px") GIÁ BÁN NỢ

  else
    tr
      th(style="width:30px").hide-on-print
      th(style="width:auto")
      th(style="width:80px")
      th(style="width:130px")
      th(style="width:130px")
      th(style="width:140px")