template(name="userDetail")
  .nano.animated.fadeIn: .nano-content
    .section.avatar
      .avatar-wrapper: .avatar-image.user-image(class="{{missingImageClass instance.profile.image}}"
        style="background-image:url('{{userImageSrc instance.profile.image}}')") {{avatarLetter instance.profile.name}}
      .headers
        +wingsEditable(model=instance field="username" style="heading" label="họ tên")

    .section
      .region
        .title
          span Tài khoản
          span.sub-title (cấp phát truy cập hệ thống)
          .sub-title *cẩn thận: không thể chỉnh sửa sau khi khởi tạo tài khoản
        .region-row
          +regionInput(wrapperClass="col-6" label="tài khoản đăng nhập")
          +regionInput(wrapperClass="col-6" label="mật khẩu tạm thời")
        .commands-wrapper
          .commands
            .command.icon-ok-circled2 khởi tạo
      .region
        .title
          .main Phân quyền
          .sub-title Quyền hạn truy cập của thành viên này đối với hệ thống

    .section
      .region
        .title
          .main
            .main Danh sách khách hàng chăm sóc
            .sub-title những khách hàng mà nhân viên chịu trách nhiệm