template(name="productGroupDetailSections")
  .section.panel.panel-default.printable-area
    .panel-heading
      .show-on-print
        +merchantPrintingHeader
        .printing-info
          .document-name {{name}}

      table.lemon-grid: tr
        if isManager
          th(style="width:20px")
        th(style="width:auto") TÊN SẢN PHẨM
        th(style="width:80px; text-align:center") HẾT HẠN
        th(style="width:80px; text-align:center") CÒN LẠI
        th.number(style="width:160px") HÀNG TỒN KHO
    .panel-body.debt-details
      table.lemon-grid
        +productGroupHeaders
        each productLists
          tr.detail-row(class="{{selected}}")
            if isManager
              td.command.icon-ok-6
            td {{name}}
            td(style="text-align:center") {{momentFormat lastExpire 'DD/MM/YYYY'}}
            td(style="text-align:center") {{lastExpireDays}}
            td.number {{allQuantity}} {{unitName}}

    //.panel-footer
    //  .right-float
    //    span.s5 TỔNG NỢ:
    //    span.s3 <b>{{formatNumber finalDebtBalance}}</b> VNĐ
        //h3 Tổng tiền: {{formatNumber totalPurchases}} VNĐ

template(name="productGroupHeaders")
  tr
    if isManager
      th(style="width:30px")
    th(style="width:auto")
    th(style="width:80px")
    th(style="width:80px")
    th(style="width:170px")