template(name="importProductRowEdit")
  tr.editors.dual-border
    td.note.has-commands
      |{{getProductName product}}
      .commands
        .lemon.rounded.tiny.btn.blue.animated.bounceIn.deleteImportDetail: span.icon-minus-4
    td: input(name="editExpireDate" min="0")
    td.number: input(name="editImportQuantity" min="0")
    td(align="center") {{getProductUnitName productUnit}}
    td.editable-field.number {{formatNumber price}}
    td.note.number <b>{{formatNumber detailFinalPrice}}</b>

template(name="importProductRowDisplay")
  tr.detail-row.click-enable
    td.has-commands
      |{{getProductName product}}
      .commands
        .lemon.rounded.tiny.btn.blue.deleteImportDetail: span.icon-minus-4
    td(align="center")
      if expire
        |{{momentFormat expire 'DD/MM/YYYY'}}
      else
        |Không
    td.number.editable-field {{formatNumber quality}}
    td(align="center") {{getProductUnitName productUnit}}
    td.editable-field.number {{formatNumber price}}
    td.number <b>{{formatNumber detailFinalPrice}}</b>