template(name="createNew")
  .dual-addon
    .group-nav
      .caption.inner.active
        span.avatar.letter
        span.text.uppercase KHÁCH HÀNG
      .caption.inner
        span.avatar.letter
        span.text.uppercase NHÓM KHÁCH HÀNG
      .caption.inner
        span.avatar.letter
        span.text.uppercase NHÀ CUNG CẤP
      .caption.inner
        span.avatar.letter
        span.text.uppercase SẢN PHẨM
      .caption.inner
        span.avatar.letter
        span.text.uppercase NHÓM SẢN PHẨM
      .caption.inner
        span.avatar.letter
        span.text.uppercase NHÂN VIÊN
      .caption.inner
        span.avatar.letter
        span.text.uppercase MÙA VỤ
      .caption.inner
        span.avatar.letter
        span.text.uppercase CHƯƠNG TRÌNH


