template(name="customerGroupDetail")
  .dual-detail-wrapper: .dual-detail
    .nano: .nano-content
      if currentCustomerGroup
        +Template.dynamic(template='customerGroupOverviewSection' data=currentCustomerGroup)
        +Template.dynamic(template='customerGroupDetailSection' data=currentCustomerGroup)